@media screen and (min-width: 981px) {
  .photoImg {
    width: 100%;
    object-fit: cover;
  }

  .textInPhoto {
    font-size: 5.6rem;
  }

  .themeButton {
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 1;
  }

  .page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 2.6fr;
  }

  .page-container > header {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .page-container > main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
  }

  .content {
    justify-content: center;
  }

  .divIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  main > H2 {
    grid-row: 1/2;
    padding-left: 4%;
    font-size: 2.5rem;
  }

  .contentProject {
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  article {
    --defining-width: calc(0.82 * (100vw / 3));
    width: var(--defining-width);
    height: calc(var(--defining-width) * 1.1);
    border-radius: 6px;
  }

  .projectImg {
    width: var(--defining-width);
    height: calc(var(--defining-width) * 1.1 * 0.7);
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
  }

  .divDescriptionArticle > p {
    padding-top: 3%;
  }

  footer {
    --define-height-footer: calc(0.45 * 100vh);
    width: 100%;
    height: var(--define-height-footer);
  }

  footer {
    width: 80%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer > section > h2 + p {
    font-size: 1.3rem;
  }

  footer > section > img {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  footer > section > img + img {
    grid-row: 4/5;
    grid-column: 2/3;
  }
}
